<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dave Beyer">

    <title>Dave's Maze</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/d-icon.ico">

    <link href="/nm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      // Dave additions
      .card-title {
	  margin-top: 10px;
      }
      .card-img-top {
	  height: 250px;
	  width: 100%;
	  object-fit:contain;
      }
      h5 {
	  margin-top: 10px;
      }
    </style>
    
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted" style="max-width:400px">

	    Pointers to a few of Dave's projects and playpens,
	    good and bad, home and away, and a reflection of a work
	    in progress.
	    
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/davebeyer/" target="_blank" class="text-muted text-white">LinkedIn</a></li>
            <li><a href="mailto:dave.beyer+davesmaze@gmail.com" target="_blank" class="text-muted text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="navbar navbar-dark bg-dark shadow">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
	<img src="/assets/img/d-maze1-128.png" style="height:30px; margin-right:10px">
        <strong>Dave's Maze</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="/assets/img/d-maze1-512.png" style="height:150px">
        <p class="lead text-muted" style="margin-top:10px">Dave's Projects & Playpens</p>
        <p style="display:none">
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/barcelona-monkey.jpg"
		   alt="Dave's Gaze">
              <h5 class="card-title">Dave's Gaze</h5>
              <p class="card-text">
		Scenes around the world through the viewfinder.
	      </p>
              <a href="https://www.davesgaze.com" target="_blank">Check it out</a> ...
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/flag-on-shed.med.jpg"
 	             alt="Portrait of America at the Crossroads">
              <h5 class="card-title">Portrait of America at the Crossroads</h5>
              <p class="card-text">
		Sharing the lives, passions and feelings related to important topics of the day, 
		of ordinary Americans who don't typically command a microphone.
	      </p>
              <a href="https://thecrossroads.gallery" target="_blank">Check it out</a> ...
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/GV_512x512.png"
  		   alt="GroupVine">
              <h5 class="card-title">GroupVine</h5>
              <p class="card-text">
		A simple yet powerful and proven email service
		designed for communities and their groups – a
		community listserv, but more mighty.
	      </p>
              <a href="https://www.groupvine.com" target="_blank">Check it out</a> ...
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
	      <img class="card-img-top" src="/assets/img/A-logo-red.png"
		   alt="The Argonauts">
              <h5 class="card-title">The Argonauts</h5>
              <p class="card-text">
		Cherish the uknown, challenge fear, welcome the strange, seek passion.
	      </p>
	      <a href="https://www.facebook.com/argonautsunited" target="_blank">On Facebook</a>  &mdash;
	      <a href="http://argonautsunited.com/" target="_blank">Quests Off-playa</a>  &mdash;
	      <a href="http://argonauts.davesmaze.com/post" target="_blank">The Argonaut Post</a> <i>(when not on-playa)</i>
            </div>
          </div>
        </div>
	
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
	      <img class="card-img-top" src="/assets/img/String-fairy-animation.gif"
		   alt="The String Fairy">
              <h5 class="card-title"> The String Fairy</h5>
	      <p class="card-text">
		Coming soon ... (someday) 
	      </p>
            </div>
          </div>
        </div>
	
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5" style="display:none">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

    <script src="/nm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      
  </body>
</html>
