<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dave Beyer">

    <title>The Argonauts</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/A-logo-red.ico">

    <link href="/nm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      // Dave additions
      .card-title {
	  margin-top: 10px;
      }
      .card-img-top {
	  height: 250px;
	  width: 100%;
	  object-fit:contain;
      }
      h5 {
	  margin-top: 10px;
      }
    </style>
    
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted" style="max-width:400px">
	    
	    We the Argonauts <br/>
	    United by a common spirit, vow to <br/>
	    <br/>
	    Cherish the unknown, the uncertain, the untried, <br/>
	    &nbsp; &nbsp; Challenge darkness, dogma and fear, <br/>
	    Welcome the strange, the dirty, the odd, and <br/>
	    &nbsp; &nbsp; Seek treasure, passion and thyself. <br/>

        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Default-world Info</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/argonautsunited" target="_blank" class="text-muted text-white">Argonauts on Facebook</a></li>
            <li><a href="http://argonautsunited.com/" target="_blank" class="text-muted text-white">Get your annual quest off-playa</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="navbar navbar-dark bg-dark shadow">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
	<img src="/assets/img/Argo-ship-red.png" style="height:35px; margin-right:10px">
        <strong>The Argonauts</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto" style="width:auto">
        <img src="/assets/img/Argonaut-camp-argodog-line.jpg" style="height:400px">
        <p class="lead text-muted" style="margin-top:10px">The Argonauts Camp Server</p>
        <p>
          <a href="/post" class="btn btn-primary my-2">Jump to the Argonaut Post!</a>
          <a style="display:none"href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/argonaut-post-screenshot.png"
 	             alt="The Argonaut Post">
              <h5 class="card-title">The Argonaut Post</h5>
              <p class="card-text">
		A place to share your playa experiences, tips, events, quests, and words of wisdom!
	      </p>
	      <!-- <button type="button" class="btn btn-outline-primary">Go there!</button> -->
	      <a href="/post" class="btn btn-outline-primary" role="button">Go to the Post!</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/bandana-2022-snippet.png"
 	             alt="The Argonaut Post">
              <h5 class="card-title">Your Annual Quest</h5>
              <p class="card-text">
		Be sure to get together, arms around shoulders, with
		some Argonaut Campers to get your annual Argonaut
		bandana and Quest!
	      </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <img class="card-img-top" src="/assets/img/argonaut-sustainability-station1.png"
 	             alt="The Argonaut Post">
              <h5 class="card-title">Argonaut Sustainability Station</h5>
              <p class="card-text">
		Stats on power generation & usage, and recycling collection... coming soon(-ish).
	      </p>
	      <!--
  		  <a href="#" class="btn btn-outline-primary" role="button">Go to the Station</a>
	      -->
            </div>
          </div>
        </div>
	
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5" style="display:none">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

    <script src="/nm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      
  </body>
</html>
